extends ../layouts/layout
block contents
 .card 
  .card-body
    form(method="POST" action="/profiles/change-password")
        .form-group
            label.col-form-label Xác nhận mật khẩu cũ:
            input(type="password" id="email" class="form-control info_edit form-info" placeholder="Mật khẩu cũ" name="old_pass")
        .form-group
            label.col-form-label Mật khẩu mới:
            input(type="password" id="email" class="form-control info_edit form-info" placeholder="Mật khẩu mới" name="new_pass")
        .form-group
            label.col-form-label Xác nhận mật khẩu mới:
            input(type="password" id="email" class="form-control info_edit form-info" placeholder="Nhập lại mật khẩu mới" name="confirm_newPass")
        if (error)
            .form-group
                label.col-form-label
                span.label.label-danger.text-danger= error   
        .form-group#group-btn
            label.col-form-label 
            button.btn.btn-primary(type="submit" style="margin-right: 10px;") Cập nhật
            button.btn.btn-danger(type="cancel") Hủy 