doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    |   
    title Majestic Admin
    // plugins:css
    link(rel='stylesheet', href='/vendors/mdi/css/materialdesignicons.min.css')
    |   
    link(rel='stylesheet', href='/vendors/base/vendor.bundle.base.css')
    // endinject
    // plugin css for this page
    // End plugin css for this page
    // inject:css
    link(rel='stylesheet', href='/css/style.css')
    // endinject
    link(rel='shortcut icon', href='/images/favicon.png')
  body
    .container-scroller
      .container-fluid.page-body-wrapper.full-page-wrapper
        .content-wrapper.d-flex.align-items-stretch.auth.auth-img-bg
          .row.flex-grow
            .col-lg-6.d-flex.align-items-center.justify-content-center
              .auth-form-transparent.text-left.p-3
                .brand-logo
                  img(src='/images/logo.svg', alt='logo')
                |               
                h4 Welcome back!
                |               
                h6.font-weight-light Happy to see you again!
                |               
                form.pt-3(method="POST" action="/authentication/login")
                  .form-group
                    label(for='exampleInputEmail') Username
                    |                   
                    .input-group
                      .input-group-prepend.bg-transparent
                        span.input-group-text.bg-transparent.border-right-0
                          i.mdi.mdi-account-outline.text-primary
                      |                     
                      input#exampleInputEmail.form-control.form-control-lg.border-left-0(type='text', placeholder='Username' name="username")
                  |                 
                  .form-group
                    label(for='exampleInputPassword') Password
                    |                   
                    .input-group
                      .input-group-prepend.bg-transparent
                        span.input-group-text.bg-transparent.border-right-0
                          i.mdi.mdi-lock-outline.text-primary
                      |                     
                      input#exampleInputPassword.form-control.form-control-lg.border-left-0(type='password', placeholder='Password' name="password")
                  if (error)
                    p.text-danger= error
                  .my-3
                    button.btn.btn-block.btn-primary.btn-lg.font-weight-medium.auth-form-btn(type="submit") LOGIN
            |           
            .col-lg-6.login-half-bg.d-flex.flex-row
    script(src='/vendors/base/vendor.bundle.base.js')
    // endinject
    // inject:js
    script(src='/js/off-canvas.js')
    |   
    script(src='/js/hoverable-collapse.js')
    |   
    script(src='/js/template.js')
    // endinject
