html
  head
  body
    .uk-container-expand
      .impx-slide-container.style1
        .impx-slideshow-fw
          div(data-uk-slideshow='autoplay: true; autoplay-interval: 5000; animation: fade; finite: false; min-height: 319; max-height: 980;')
            .uk-position-relative.uk-visible-toggle.uk-light
              ul.uk-slideshow-items
                li
                  // Slideshow Item #1
                  //.uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-bottom-center
                  img(src='images/slideshow/plane-1.jpg', alt='', data-uk-cover='height:319px')
                  |
                  .uk-overlay-primary.uk-position-cover.impx-overlay.dark
                  |
                  .uk-container.uk-position-relative.uk-height-1-1
                    .uk-position-left.uk-flex.uk-flex-middle
                      .impx-slide-fw-caption
                        .impx-slide-fw-caption-outline.uk-transition-slide-left
                        |
                        h1.uk-margin-remove.impx-text-shadow.uk-transition-slide-top.uk-text-left
                          | Đặt Vé Máy Bay
                        |
                        p.impx-text-large.impx-text-aqua.uk-margin-remove.impx-text-shadow.uk-transition-slide-bottom.uk-text-right.uk-text-uppercase
                          | Dễ dàng hơn bao giờ hết
                // Slideshow Item #1 End
                li
                  // Slideshow Item #2
                  //.uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-center-right
                  img(src='images/slideshow/plane-2.jpg', alt='', data-uk-cover='')
                  |
                  .uk-overlay-primary.uk-position-cover.impx-overlay.dark
                  |
                  .uk-container.uk-position-relative.uk-height-1-1
                    .uk-position-right.uk-flex.uk-flex-middle
                      .impx-slide-fw-caption.right
                        .impx-slide-fw-caption-outline.right.bottom.uk-transition-slide-left
                        |
                        h1.uk-margin-remove.impx-text-shadow.uk-transition-slide-top.uk-text-right
                          | Dịch Vụ Hậu Mãi Đỉnh Cao
                        |
                        p.uk-text-large.impx-text-aqua.uk-margin-remove.impx-text-shadow.uk-transition-slide-bottom.uk-text-right.uk-text-uppercase
                          | Hãy trải nghiệm cảm giác bạn là thượng đế
                // Slideshow Item #2 End
              // Slideshow Nav
              a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', data-uk-slidenav-previous='', data-uk-slideshow-item='previous')
              |
              a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', data-uk-slidenav-next='', data-uk-slideshow-item='next')
              // Slideshow Nav End
