
.row
    .container-progressbar
        ul.progressbar
            li(class=active_1) Chọn chuyến bay
            |
            li(class=active_2) Chọn ghế
            |
            li(class=active_3) Checkout
            |
            li(class=active_4) Hoàn thành