.uk-padding.uk-padding-remove-horizontal.uk-position-relative.impx-section-rooms.style2.bg2.uk-position-relative.no-margin.uk-background-fixed.uk-background-center-center.uk-height-1-1
  .impx-overlay.darker
  | &#x9;&#x9;&#x9;
  .uk-container
    .uk-margin-bottom.uk-flex.uk-flex-center.uk-position-relative.uk-position-z-index(data-uk-grid='')
      div(class='uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m uk-width-1-1@xl')
        .impx-intro.uk-text-center
          // intro
          h2.uk-margin-remove-bottom.impx-text-white Find Our Best Rooms &amp; Services
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          p.impx-text-large.impx-text-lighter.uk-margin-small-top.uk-margin-bottom
            | Quae rursus dum sibi evelli ex ordine nolunt, horridiores evadunt, asperiores, duriores et oratione et moribus. Propter nos enim illam, non propter eam nosmet ipsos diligimus. Qui bonum omne.
        // intro end
  | &#x9;&#x9;&#x9;
  .uk-container
    .uk-position-relative.uk-visible-toggle.uk-margin-medium-bottom
      // room items
      ul.uk-grid-collapse.uk-box-shadow-large.uk-grid-match(class='uk-child-width-1-2@xl uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-1@s', data-uk-grid='')
        li
          // room items #1
          .impx-room-item.medium
            .uk-card.uk-card-default.uk-grid-collapse(class='uk-child-width-1-2@s', data-uk-grid='')
              .uk-card-media-left.uk-cover-container.uk-position-relative
                canvas(width='290', height='180')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                img(src='images/rooms/room-square-1.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                .impx-overlay.light.overlay-squared.padding-xwide
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
              .uk-card-body.uk-position-relative.impx-padding-medium
                .uk-card-header.uk-padding-remove-horizontal
                  h4.uk-card-title.uk-margin-remove-bottom Single Room
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                
                  p.uk-text-meta.uk-margin-remove-top Subtitle Goes Here
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                span.uk-card-badge.uk-label.bg-color-aqua from $50/night
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                ul.uk-list.room-fac
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Beatus in maximarum timore
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Oculis Compensabatur
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Dolorisnos veriusque nihil
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; 
                .uk-card-footer.uk-padding-remove-horizontal.uk-padding-remove-bottom
                  a.uk-button.uk-button-text.impx-text-aqua(href='room-detail.html') Read more &raquo;
        // room items #1 end
        li
          // room items #2
          .impx-room-item.medium
            .uk-card.uk-card-default.uk-grid-collapse(class='uk-child-width-1-2@s', data-uk-grid='')
              .uk-card-media-left.uk-cover-container.uk-position-relative
                canvas(width='290', height='180')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                img(src='images/rooms/room-square-5.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                .impx-overlay.light.overlay-squared.padding-xwide
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
              .uk-card-body.uk-position-relative.impx-padding-medium
                .uk-card-header.uk-padding-remove-horizontal
                  h4.uk-card-title.uk-margin-remove-bottom Double Room
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                
                  p.uk-text-meta.uk-margin-remove-top Subtitle Goes Here
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                span.uk-card-badge.uk-label.bg-color-aqua from $80/night
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                ul.uk-list.room-fac
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Beatus in maximarum timore
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Oculis Compensabatur
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Dolorisnos veriusque nihil
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .uk-card-footer.uk-padding-remove-horizontal.uk-padding-remove-bottom
                  a.uk-button.uk-button-text.impx-text-aqua(href='room-detail.html') Read more &raquo;
        // room items #2 end
        li
          // room items #3
          .impx-room-item.medium
            .uk-card.uk-card-default.uk-grid-collapse(class='uk-child-width-1-2@s', data-uk-grid='')
              .uk-card-body.uk-position-relative.impx-padding-medium
                .uk-card-header.uk-padding-remove-horizontal
                  h4.uk-card-title.uk-margin-remove-bottom Premiere Room
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                
                  p.uk-text-meta.uk-margin-remove-top Subtitle Goes Here
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                span.uk-card-badge.uk-label.bg-color-aqua from $100/night
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                ul.uk-list.room-fac
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Beatus in maximarum timore
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Oculis Compensabatur
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Dolorisnos veriusque nihil
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .uk-card-footer.uk-padding-remove-horizontal.uk-padding-remove-bottom
                  a.uk-button.uk-button-text.impx-text-aqua(href='room-detail.html') Read more &raquo;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
              .uk-card-media-right.uk-cover-container.uk-position-relative
                canvas(width='290', height='180')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                img(src='images/rooms/room-square-3.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                .impx-overlay.light.overlay-squared.padding-xwide
        // room items #3 end
        li
          // room items #4
          .impx-room-item.medium
            .uk-card.uk-card-default.uk-grid-collapse(class='uk-child-width-1-2@s', data-uk-grid='')
              .uk-card-body.uk-position-relative.impx-padding-medium
                .uk-card-header.uk-padding-remove-horizontal
                  h4.uk-card-title.uk-margin-remove-bottom Deluxe Room
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                
                  p.uk-text-meta.uk-margin-remove-top Subtitle Goes Here
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        &#x9;
                span.uk-card-badge.uk-label.bg-color-aqua from $150/night
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
                ul.uk-list.room-fac
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Beatus in maximarum timore
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Oculis Compensabatur
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    span.impx-text-aqua(data-uk-icon='icon: check; ratio: 1;')
                    |  Dolorisnos veriusque nihil
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .uk-card-footer.uk-padding-remove-horizontal.uk-padding-remove-bottom
                  a.uk-button.uk-button-text.impx-text-aqua(href='room-detail.html') Read more &raquo;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
              .uk-card-media-right.uk-cover-container.uk-position-relative
                canvas(width='290', height='180')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                img(src='images/rooms/room-square-4.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
                .impx-overlay.light.overlay-squared.padding-xwide
        // room items #4 end
      // room items end
    | &#x9;&#x9;&#x9;&#x9;
    .uk-flex-center.uk-margin-small-bottom(data-uk-grid='')
      .uk-text-center.uk-position-relative.uk-position-z-index
        // room button
        a.uk-button.uk-button-default.impx-button.impx-button-outline(href='#')
          | Browse Our Rooms 
          i.uk-icon-arrow-circle-o-right
      // room button end
