.uk-container-expand
  .impx-slide-container.style1.hp2
    .impx-slideshow-fw
      div(data-uk-slideshow='autoplay: true; autoplay-interval: 6000; animation: fade; finite: false ;min-height: 319; max-height: 980;')
        .uk-position-relative.uk-visible-toggle.uk-light
          ul.uk-slideshow-items
            // Slideshow Item #1
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-bottom-center
                img(src='/images/slideshow/plane-1.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .uk-container.uk-position-relative.uk-height-1-1
                .uk-position-left.uk-flex.uk-flex-middle
                  .impx-slide-fw-caption
                    .impx-slide-fw-caption-outline.uk-transition-slide-left
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    h1.uk-margin-remove.impx-text-shadow.uk-transition-slide-top.uk-text-left Sativa Hotel &amp; Resort
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    p.uk-text-large.impx-text-aqua.uk-margin-remove.impx-text-shadow.uk-transition-slide-bottom.uk-text-right.uk-text-uppercase Responsive HTML Template
            // Slideshow Item #1 End
            // Slideshow Item #2
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-center-right
                img(src='/images/slideshow/plane-2.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
              .uk-container.uk-position-relative.uk-height-1-1
                .uk-position-right.uk-flex.uk-flex-middle
                  .impx-slide-fw-caption.right
                    .impx-slide-fw-caption-outline.right.bottom.uk-transition-slide-left
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    h1.uk-margin-remove.impx-text-shadow.uk-transition-slide-top.uk-text-right Beautiful Panorama
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    p.uk-text-large.impx-text-aqua.uk-margin-remove.impx-text-shadow.uk-transition-slide-bottom.uk-text-right.uk-text-uppercase Enjoy the Best View
            // Slideshow Item #2 End
            // Slideshow Item #3
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-center-left
                img(src='/images/slideshow/plane-3.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
              .uk-container.uk-position-relative.uk-height-1-1
                .uk-position-left.uk-flex.uk-flex-middle
                  .impx-slide-fw-caption.text-right
                    .impx-slide-fw-caption-outline.uk-transition-slide-top
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    h1.impx-text-white.uk-margin-remove.impx-text-shadow.uk-transition-scale-down Luxurious &amp; Convenient
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    p.uk-text-large.impx-text-gold.uk-margin-remove.impx-text-shadow.uk-transition-scale-up.uk-text-right.uk-text-uppercase Choose The Best One
            // Slideshow Item #3 End
            // Slideshow Item #4
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-bottom-right
                img(src='/images/slideshow/plane-4.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
              .uk-container.uk-position-relative.uk-height-1-1
                .uk-position-center.uk-flex.uk-flex-middle
                  .impx-slide-fw-caption.bottom
                    .impx-slide-fw-caption-outline.center.bottom.uk-transition-slide-left
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    h1.uk-margin-remove.impx-text-shadow.uk-transition-slide-top.uk-text-center Oriental Spa
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    p.uk-text-large.impx-text-aqua.uk-margin-remove.impx-text-shadow.uk-transition-slide-bottom.uk-text-center.uk-text-uppercase Our Spa Service
            // Slideshow Item #4 End
            // Slideshow Item #5
            li
              .uk-position-cover.uk-animation-kenburns.uk-animation-reverse.uk-transform-origin-top-center
                img(src='/images/slideshow/plane-5.jpg', alt='', data-uk-cover='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
                .uk-overlay-primary.uk-position-cover.impx-overlay.dark
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;
              .uk-container.uk-position-relative.uk-height-1-1
                .uk-position-left.uk-flex.uk-flex-middle
                  .impx-slide-fw-caption
                    .impx-slide-fw-caption-outline.uk-transition-slide-fade
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    h1.impx-text-white.uk-margin-remove.impx-text-shadow.uk-transition-slide-bottom In-house Restaurant
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
                    p.uk-text-large.impx-text-aqua.uk-margin-remove.impx-text-shadow.uk-transition-slide-top.uk-text-right.uk-text-uppercase The Delicious Foods
            // Slideshow Item #5 End
          // Slideshow Nav
          a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', data-uk-slidenav-previous='', data-uk-slideshow-item='previous')
          | &#x9;&#x9;        &#x9;&#x9;&#x9;
          a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', data-uk-slidenav-next='', data-uk-slideshow-item='next')
          // Slideshow Nav End