html
  head
  body
    .uk-padding.uk-padding-remove-horizontal.uk-position-relative.impx-section-testimonial.hp2.uk-background-fixed.uk-background-center-center.uk-height-1-1
      .impx-overlay.darker
      | &#x9;&#x9;&#x9;
      .uk-container
        // Intro
        .uk-position-relative.uk-position-z-index.uk-flex.uk-flex-center(data-uk-grid='')
          div(class='uk-width-1-2@xl uk-width-1-2@l uk-width-3-4@m')
            .impx-intro.uk-text-center.uk-light
              // Intro
              h2.uk-margin-small-bottom Testimonials
              | &#x9;    &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.impx-text-large.uk-margin-remove
                | Si alia sentit loquitur, numquam intellegam quid tu nunc in illo probas si omnia non sequebatur, idcirco non erat.
            // Intro End
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .uk-flex.uk-flex-center.uk-margin-bottom(data-uk-grid='')
          div(class='uk-width-2-3@xl uk-width-2-3@l uk-width-5-6@m')
            // Testimonials items
            .impx-testimonial-list
              div(data-uk-slider='{autoplay: true, finite: true}')
                .uk-position-relative.uk-visible-toggle.uk-light
                  ul.uk-slider-items.uk-child-width-1-1(data-uk-grid='')
                    li.uk-padding-large.uk-padding-remove-vertical
                      // Testimonial item #1
                      .impx-testimonial-item.impx-contrast
                        .impx-testi-container
                          .impx-testi-text
                            blockquote
                              p
                                | Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Erit enim mecum, si tecum erit conantur! nostrum! Incendi igitur eos, qui audiunt, vides
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          .uk-text-center
                            .impx-testi-name
                              p Mrs. Smith Yan
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .impx-company-name
                              p.bg-color-gold Book Author
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .impx-testi-image
                          img(src='images/peoples/testi-people1.jpg', alt='People 1')
                    // Testimonial item #1 end
                    li.uk-padding-large.uk-padding-remove-vertical
                      // Testimonial item #2
                      .impx-testimonial-item.impx-contrast
                        .impx-testi-container
                          .impx-testi-text
                            blockquote
                              p
                                | Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Erit enim mecum, si tecum erit conantur! nostrum! Incendi igitur eos, qui audiunt, vides
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          .uk-text-center
                            .impx-testi-name
                              p Mrs. Smith Yan
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .impx-company-name
                              p.bg-color-gold Book Author
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .impx-testi-image
                          img(src='images/peoples/testi-people2.jpg', alt='People 1')
                    // Testimonial item #2 end
                    li.uk-padding-large.uk-padding-remove-vertical
                      // Testimonial item #3
                      .impx-testimonial-item.impx-contrast
                        .impx-testi-container
                          .impx-testi-text
                            blockquote
                              p
                                | Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Erit enim mecum, si tecum erit conantur! nostrum! Incendi igitur eos, qui audiunt, vides
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          .uk-text-center
                            .impx-testi-name
                              p Mrs. Smith Yan
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .impx-company-name
                              p.bg-color-gold Book Author
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .impx-testi-image
                          img(src='images/peoples/testi-people3.jpg', alt='People 1')
                    // Testimonial item #3 end
                    li.uk-padding-large.uk-padding-remove-vertical
                      // Testimonial item #4
                      .impx-testimonial-item.impx-contrast
                        .impx-testi-container
                          .impx-testi-text
                            blockquote
                              p
                                | Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Erit enim mecum, si tecum erit conantur! nostrum! Incendi igitur eos, qui audiunt, vides
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          .uk-text-center
                            .impx-testi-name
                              p Mrs. Smith Yan
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .impx-company-name
                              p.bg-color-gold Book Author
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .impx-testi-image
                          img(src='images/peoples/testi-people4.jpg', alt='People 1')
                    // Testimonial item #4 end
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', data-uk-slidenav-previous='', data-uk-slider-item='previous')
                  |         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', data-uk-slidenav-next='', data-uk-slider-item='next')
            // Testimonials items end
