html
  head
  body
    .uk-padding.uk-padding-remove-horizontal.uk-position-relative.uk-position-relative.bg-img1
      .uk-container
        .uk-flex-left(data-uk-grid='')
          div(class='uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m')
            .impx-intro.uk-text-left
              // Intro
              h2.uk-margin-remove-bottom Why Choose Us?
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.uk-margin-remove-top.uk-text-uppercase.uk-text-muted.impx-text-large Tại sao nên đặt vé máy bay tại traveloke
            // Intro End
        | &#x9;&#x9;&#x9;&#x9;
        .uk-position-relative.uk-margin-bottom(class='uk-width-3-4@xl uk-width-3-4@l uk-width-1-1@m uk-width-1-1@s', data-uk-grid='')
          // Reason Items
          ul.impx-features-hl.uk-grid-medium.uk-grid-match(class='uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-2@s', data-uk-grid='')
            li
              // Reason Item #1
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color1.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Kết quả tìm kiếm bao quát
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Chỉ với một cú nhấp chuột, dễ dàng so sánh các chuyến bay của Vietnam Airlines, Jetstar, Vietjet và các chặng bay quốc tế khác với 100.000 đường bay ở châu Á Thái Bình Dương và châu Âu.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: users; ratio: 8')
            // Reason Item #1 End
            li
              // Reason Item #2
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color2.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Phương thức thanh toán an toàn và linh hoạt
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Giao dịch trực tuyến an toàn với nhiều lựa chọn như thanh toán tại cửa hàng tiện lợi, chuyển khoản ngân hàng, thẻ tín dụng đến Internet Banking. Không tính phí giao dịch.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: bell; ratio: 8')
            // Reason Item #2 End
            li
              // Reason Item #3
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color3.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Thoả sức vi vu cùng traveloke - Giải pháp đặt vé máy bay trực tuyến trọn gói
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Traveloke là công ty du lịch trực tuyến, cung cấp nền tảng đặt vé máy bay và phòng khách sạn hàng đầu Đông Nam Á.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: star; ratio: 8')
            // Reason Item #3 End
            li
              // Reason Item #4
              .uk-card.uk-card-default.uk-card-body.uk-box-shadow-medium.color4.impx-feature-item.uk-position-relative
                h6.uk-margin-remove-top.uk-margin-bottom.impx-text-white Với Traveloke, mua vé máy bay giá rẻ là chuyện trong tầm tay
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.uk-margin-remove.impx-text-lighter
                  | Đừng lo lắng nữa bởi Traveloka sẽ giúp bạn quẳng mọi gánh lo ấy đi và dễ dàng sở hữu tấm vé máy bay cho hành trình mơ ước của mình.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.feature-icon(data-uk-icon='icon: heart; ratio: 8')
            // Reason Item #4 End
          // Reason Items End
